@tailwind base;
@tailwind components;
@tailwind utilit;

.profile-image-container {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  border: 2px solid #cacbcb;
  object-fit: cover;
  width: 250px;
  height: 250px;
}

